<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Whizkids Indonesia</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="static/css/freelancer.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Whizkids Indonesia</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Aktivitas</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Berkenalan</a>
            </li>
              {% if user.is_authenticated %}
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">{{ user.get_username }}</a>
            </li>
              {% else %}
              <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Daftar!</a>
            </li>
              {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
         {% if messages %}
          <div class="container">
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                    <strong>{{ message }}</strong>
                </div>
                  {% endfor %}
            </div>
          {% endif %}
        <img class="img-fluid mb-5 d-block mx-auto" src="static/img/profile.png" alt="">
        <h1 class="text-uppercase mb-0">Hai Whizkids!</h1>
        <br/>
        <!--<div class="yt-container">-->
         <!--<iframe src="https://www.youtube.com/embed/wNNzLnKwulM" frameborder="0" allowfullscreen></iframe>-->
      <!--</div>-->
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Buat Game! - Berkenalan! - Seluruh Indonesia!</h2>
      </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Aktivitas</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="static/img/portfolio/aktivitas_bersama.jpg" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="static/img/portfolio/mainkan.jpg" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="static/img/portfolio/joystick.jpg" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="static/img/portfolio/bigfour.jpg" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="static/img/portfolio/andre.jpg" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="static/img/portfolio/joglo.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Berkenalan</h2>
        <hr class="star-light mb-5">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead">Whizkids Indonesia sesungguhnya sudah mulai dirintis dari tahun 2013, yang terinspirasi dari gerakan CoderDojo.com. Gerakan global ini dimulai dari kesadaran pendirinya yang berpikir
            untuk membagi keahlian koding mereka kepada anak-anak di lingkungan sekitar. Mereka sadar, jika tidak dilatih sejak dini, anak hanya akan menjadi konsumen gadget dan game yang pasif, tanpa mampu memilih menjadi pencipta game-game tersebut.</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">Nah, dari ide tersebut, Whizkids Indonesia mulai dirancang untuk membuat koding menjadi proses yang menyenangkan dan bisa dipelajari oleh masyarakat Indonesia yang sudah memiliki akses ke komputer dan internet. Dalam prosesnya, instruktur, siswa dan orangtua dari seluruh Indonesia akan bekerjasama secara erat melalui internet untuk menjadikan anak-anak didik kita menjadi .. programmer-programmer cilik kelas dunia!</p>
          </div>
        </div>
        <div class="text-center mt-4">
          <a class="btn btn-xl btn-outline-light" target="_blank" href="https://web.facebook.com/groups/whizkidsid/">
            <i class="fa fa-facebook mr-2"></i>
            Whizkids Indonesia
          </a>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Daftar!</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-md-4 ml-auto">
            </div>
          <div class="col-md-4 ml-auto">

                {% load widget_tweaks %}

  <form method="post" action="/signup/">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}<br>
        {% render_field field class="form-control" %}
        <!--{% if field.help_text %}-->
          <!--<small style="color: grey">{{ field.help_text }}</small>-->
        <!--{% endif %}-->
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
          </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
          </div>
            <div class="col-md-4 ml-auto">
            </div>
          </div>
          </div>

        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Lokasi</h4>
            <p class="lead mb-0">Jl. Tembus Pandes, Glagah Kidul, RT 2
              <br>Tamanan, Banguntapan, Bantul, Yogyakarta</p>
              <br><a href="http://bit.ly/coderdojoid" target="_blank">Lihat Peta</a></p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Kontak Kami</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" target="_blank" href="https://web.facebook.com/groups/whizkidsid/">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" target="_blank" href="https://twitter.com/CoderDojoID">
                  <i class="fa fa-fw fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" target="_blank" href="https://www.linkedin.com/in/eko-wibowo-50332b30/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BTkXlzNBPQIWMNq%2F7%2Bh6%2FFw%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_flagship3_feed-nav.settings_view_profile">
                  <i class="fa fa-fw fa-linkedin"></i>
                </a>
              </li>

            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">Tentang Whizkids Indonesia</h4>
            <p class="lead mb-0"><a  target="_blank" href="http://whizkids.id">Whizkids Indonesia</a> adalah coaching bagi para orang tua dan anak-anak untuk bersama-sama menciptakan programmer-programmer cilik Indonesia yang membanggakan.</p>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Hak Cipta &copy; Whizkids.id 2018</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Portfolio Modals -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Koding Bersama!</h2>
              <hr class="star-dark mb-5">
              <!--<img class="img-fluid mb-5" src="static/img/portfolio/cabin.png" alt="">-->
              <div class="yt-container">
         <iframe src="https://www.youtube.com/embed/OKEt3Hd-rTM" frameborder="0" allowfullscreen></iframe>
      </div>
              <p class="mb-5">Kamu dan teman-teman-mu akan bekerjasama dalam menyelesaikan permainan di atas kertas, yang nantinya akan diprogram ke dalam komputer. Seru kan?!
              <i class="em em-hugging_face"></i></p>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Tutup</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Mainkan Bersama!</h2>
              <hr class="star-dark mb-5">
              <img class="img-fluid mb-5" src="static/img/portfolio/mainkan.jpg" alt="">
              <p class="mb-5">Selesai menyelesaikan program game-mu? Mainkan bersama dengan semua teman-mu di seluruh Indonesia! Bisa lhoo! <i class="em em-ok_hand"></i></p>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Tutup</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Kuasai Kontroller!</h2>
              <hr class="star-dark mb-5">
              <img class="img-fluid mb-5" src="static/img/portfolio/joystick.jpg" alt="">
              <p class="mb-5">Kamu biasanya cuma bisa memakai stick dan gamepad kan? Nah, sekarang kamu akan bisa membuat kontroller itu mematuhi perintahmu! Keren banget deh! <i class="em em-heart_eyes"></i></p>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Tutup</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-4">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Tahukah kalian siapa mereka ini?</h2>
              <hr class="star-dark mb-5">
              <img class="img-fluid mb-5" src="static/img/portfolio/bigfour.jpg" alt="">
              <p class="mb-5">Elon Musk, Bill Gates, Steve Jobs dan Mark Zuckerberg! Mereka adalah pencipta roket ke Mars, pencipta Microsoft Windows, pencipta iPhone dan
              pencipta Facebook. Mereka orang-orang yang hebat yang punya satu kesamaan: mereka sudah belajar koding dari .. SD! Keren yaks! <i class="em em-heartpulse"></i> </p>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Tutup</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-5">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Kamu Bisa Jadi Seperti Ini Lho!</h2>
              <hr class="star-dark mb-5">
              <img class="img-fluid mb-5" src="static/img/portfolio/andre.jpg" alt="">
              <p class="mb-5">Indonesia juga punya banyak programmer cilik lho. Kenalkan, Mas Andre Christoga: programmer yang masih berusia SD saat mengikuti kompetisi koding level nasional: Hackathon Merdeka 2.0! <i class="em em-flag-id"></i></p>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Tutup</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-6">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Kamu Bisa Belajar di Joglo Ini atau di Rumahmu!</h2>
              <hr class="star-dark mb-5">
              <img class="img-fluid mb-5" src="static/img/portfolio/joglo.jpg" alt="">
              <p class="mb-5">Kalau kamu tinggal di Jogja, kamu bisa datang sebulan sekali ke lokasi Whizkids Indonesia di Coder Dojo Indonesia. Kamu bisa bermain bersama, dan melihat-lihat kakak-kakak programmer yang asli, sedang bekerja mengerjakan banyak game dan program-program keren.
               Tapi kalau kamu jauh dari Jogja-pun tidak masalah: kita bisa belajar dari situs ini kok. Kamu bisa tanya ke kami atau ke teman-teman yang tersebar di seluruh Indonesia. Keren banget ya teknologi itu! <i class="em em-male-technologist"></i></p>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Tutup</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/js/jqBootstrapValidation.js"></script>
    <script src="static/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/freelancer.min.js"></script>

  </body>

</html>
