<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Whizkids Indonesia</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/static/css/freelancer.min.css" rel="stylesheet">

  </head>

  <body  data-spy="scroll" data-target="#toc" id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/#page-top">Whizkids Indonesia</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            {% else %}
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#portfolio">Aktivitas</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#about">Berkenalan</a>
            </li>
            {% endif %}
              {% if user.is_authenticated %}

            <li class="dropdown nav-item mx-0 mx-lg-1">
          <a href="#" class="dropdown-toggle nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" data-toggle="dropdown">{{ user.get_username }}<span class="glyphicon glyphicon-user pull-right"></span></a>
          <ul class="dropdown-menu">
            <li class="divider"></li>
            <li><a  class="nav-item mx-0 mx-lg-1" href="/logout">Logout</a></li>
          </ul>
        </li>
              {% else %}
              <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#contact">Bergabung</a>
            </li>
              {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
      {% if messages %}
    <div class="alert-float" style="position: absolute; top: 0; left: 130px; right: 30px; z-index: 9999;width: 65%">
         {% for message in messages %}
        <div  id="success-alert" class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
    </div>
     {% endif %}
    {% block content %}
    {% endblock %}

    {% if not user.is_authenticated %}
     <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Lokasi</h4>
            <p class="lead mb-0">Jl. Tembus Pandes, Glagah Kidul, RT 2
              <br>Tamanan, Banguntapan, Bantul, Yogyakarta</p>
              <br><a href="http://bit.ly/coderdojoid" target="_blank">Lihat Peta</a></p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Kontak Kami</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" target="_blank" href="https://web.facebook.com/groups/whizkidsid/">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" target="_blank" href="https://twitter.com/CoderDojoID">
                  <i class="fa fa-fw fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" target="_blank" href="https://www.linkedin.com/in/eko-wibowo-50332b30/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BTkXlzNBPQIWMNq%2F7%2Bh6%2FFw%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_flagship3_feed-nav.settings_view_profile">
                  <i class="fa fa-fw fa-linkedin"></i>
                </a>
              </li>

            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">Tentang Whizkids Indonesia</h4>
            <p class="lead mb-0"><a  target="_blank" href="http://whizkids.id">Whizkids Indonesia</a> adalah coaching bagi para orang tua dan anak-anak untuk bersama-sama menciptakan programmer-programmer cilik Indonesia yang membanggakan.</p>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Hak Cipta &copy; Whizkids.id 2018</small>
      </div>
    </div>
{% endif %}

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/freelancer.min.js"></script>
    {% if messages %}
    <script>
        $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
            $("#success-alert").slideUp(500);
        });
    </script>
  {% endif %}
  </body>

</html>
