<!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Lokasi</h4>
            <p class="lead mb-0">Jl. Tembus Pandes, Glagah Kidul, RT 2
              <br>Tamanan, Banguntapan, Bantul, Yogyakarta</p>
              <br><a href="http://bit.ly/coderdojoid" target="_blank">Lihat Peta</a></p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Kontak Kami</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" target="_blank" href="https://web.facebook.com/groups/whizkidsid/">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" target="_blank" href="https://twitter.com/CoderDojoID">
                  <i class="fa fa-fw fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" target="_blank" href="https://www.linkedin.com/in/eko-wibowo-50332b30/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BTkXlzNBPQIWMNq%2F7%2Bh6%2FFw%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_flagship3_feed-nav.settings_view_profile">
                  <i class="fa fa-fw fa-linkedin"></i>
                </a>
              </li>

            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">Tentang Whizkids Indonesia</h4>
            <p class="lead mb-0"><a  target="_blank" href="http://whizkids.id">Whizkids Indonesia</a> adalah coaching bagi para orang tua dan anak-anak untuk bersama-sama menciptakan programmer-programmer cilik Indonesia yang membanggakan.</p>
          </div>
        </div>
      </div>
    </footer>